services:
  insta360-auto-sync:
    build: .
    image: insta360-auto-sync:latest
    container_name: insta360-auto-sync
    user: root
    volumes:
      - /home/AdminUser/nas-project-data/insta360-auto-sync/logs:/app/logs
      - ./config:/app/config
      - /home/AdminUser/nas-project-data/insta360-auto-sync/insta360:/volume2/data/insta360
      - /home/AdminUser/nas-project-data/insta360-auto-sync/source:/source
    env_file:
      - .env
    environment:
      - TZ=Asia/Tokyo
      - DEBUG=false
      - SOURCE_PATH=/source
      - DESTINATION_PATH=/volume2/data/insta360
      - SYNC_SCHEDULE_TIME=00:00
      - RUN_ON_STARTUP=false
    restart: unless-stopped
    labels:
      - "com.docker.compose.project=insta360-auto-sync"
      - "com.docker.compose.service=insta360-auto-sync"
      - "traefik.enable=false"
    networks:
      - nas-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  nas-network:
    external: true
